*{
    margin:0;
    padding:0;
}

#center{
    text-align: center;
    background-color: black;
}

body {
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}
header h1 {
    color: white;
    border: 8px solid white;
    display: inline-block;
    padding: 6px;
    border-radius: 36px;
}

nav ul {
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}

li {
    display: inline-block;
    width: 25%;
    font-size: 24px;
}

main {
    display: block;
    max-width: 100%;
    margin: 80px auto;
}

#input {
    display: block;
    max-width: 100%;
    margin: 80px auto;
}

p {
    color:black;

}


.center {
    text-align: center;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%
}